.card {
  min-width: 180px;
  max-width: 180px;
  height: 190px;
  flex-shrink: 0;
  perspective: 1000px;
  scroll-snap-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.6;
}

/* INNER */
.content {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}
.card:hover {
  transform: scale(1.08);
  opacity: 1;
}
.card:hover .content {
  transform: rotateY(180deg);
}

/* FRONT + BACK */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #121212;
  border-radius: 14px;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

/* FRONT */
.front {
  transform: rotateY(180deg);
}

/* BACK */
.back {
  border: 1px solid #222;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* FIXED GLOW */
.back::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #9bb2a7, transparent);
  opacity: 0.15;
}

/* INNER CONTENT */
.back-content {
  position: relative;
  z-index: 1;
  width: 95%;
  height: 95%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* TEXT */
.card h3 {
  font-size: 16px;
}

.card p {
  font-size: 13px;
  color: #aaa;
}